<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxh.mapper.UserMapper">
    <select id="selectUserLogin">
        select * from user where phone=#{phone} and password=#{password};
    </select>

    <insert id="checkUserSign">
        insert into user (phone, sex, age, stature, weight, password, money)
    values (#{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR},
      #{stature,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR},#{password,jdbcType=INTEGER},
      #{money,jdbcType=DOUBLE});
    </insert>

    <update id="updateUserInfo">
        update user set sex=#{sex}, age=#{age}, stature=#{stature},
        weight=#{weight} where phone=#{phone};
    </update>

    <select id="selectUser">
        select * from user where phone=#{phone};
    </select>

    <update id="updateDBMoney">
        update user set money=#{money} where phone=#{phone};
    </update>
</mapper>
